:root{
    --cor-principal: #1A5EF3;
    --cor-preto: #141414;
    --cor-branco: #f2f2f2;
    --fundo: #fefefe;
    --cinza: #e0e0e0;
    --cinza-input:#c6c6c6;
    --input-selected: #A2B1CC;

    --corpo-texto:24px;

    --fonte-principal:"Poppins", sans-serif;
    --fonte-title:'MinhaFonte', sans-serif;
}