.services{
    display: flex;
    flex-direction: column;
}

.title-services{
    font-family: var(--fonte-title);
    font-size: 5rem;
    font-weight: 800;
    padding: 56px 0;
}

.nav-services{
    display: flex;
    background: var(--cinza);
    padding: 13px 0px 11px 0px;
    border-radius: 100px;
    margin-bottom: 56px;
}

.nav-services a{
    text-decoration: none;
    color: var(--cor-preto);
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 18px;
    padding: 11px 69px;
}

.nav-services a.ativo{
    color: var(--cor-branco);
    background: var(--cor-preto);
    border-radius: 100px;
}

.info-services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    padding: 54px 0;
    margin-bottom: 104px;
}

.img-service{
    width: 556px;
}

.text{
    display: grid;
    gap: 12px;
}

.text p{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    max-width: 498px;
}

.text h2{
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 2rem;
    line-height: 3rem;   
}

.button-services{
    width: fit-content;
    display: flex;
    gap: 12px;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.button-services p{
    font-family: var(--fonte-principal);
    text-decoration: underline;
}

.js .js-tabcontent section{
    display: none;
}

.js-tabcontent section.ativo{
    display: grid !important;
    animation: show .5s forwards;
}

@keyframes show{
    from{
        opacity: 0;
        transform: translate3d(30px, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}